/* Background */
/* .lightmenu-container.lightmenu-wp {
  display: none;
}

.lightmenu-container.lightmenu-wp.active {
  display: block;
} */

.lightmenu-container {
  position: fixed;
  display: block;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 10002;
  pointer-events: none;
}

.lightmenu-container.active {
  pointer-events: all;
}

.lightmenu-container::before {
  --bg: rgba(0,0,0,.8);

  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;
  background-color: var(--bg);
  opacity: 0;
  transition: all 150ms;
}

.lightmenu-container.active::before {
  --opacity: .8;
  opacity: var(--opacity);
}

/* Wrapper */
.light-menus {
  z-index: 10002;
  width: 85%;
  position: absolute;
  left: 0;
  top: 0;
  /* bottom: 0; */
  height: 100%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
}

.lightmenu-container .light-menus {
  transition: all 150ms;
  transform: translateX(-100%);
}

.lightmenu-container.active .light-menus {
  transform: translateX(0);
}


/* Menu */
.light-menu {
  --background: #fff;
  --color: #333;
  --color-light: #777;
  left: 0;
  top: 0;
  /* bottom: 0; */
  height: 100%;
  width: 100%;

  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--color);
  overflow-y: auto;
}

.light-menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.light-menu .light-menu-item {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.light-menu-link,
.light-menu-arrow {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 1em 1.5em;
}


/* Arrows */
.light-menu-link {
  flex-grow: 1;
  text-decoration: none;
}

.light-menu-arrow-link {
  color: rgba(0,0,0,0)!important;
}

.light-menu-arrow {
  position: relative;
  display: block;
}

.light-menu-arrow::after {
  --size: .5em;
  --border: 2px solid;
  content: '';
  position: absolute;
  display: block;
  width: var(--size);
  height: var(--size);
  border-right: var(--border);
  border-bottom: var(--border);
  border-color: var(--color-light);
  transform-origin: center center;
  transform: rotate(-45deg);
  top: 48%;
  margin-top: calc(var(--size) * -.5);
}

.light-menu-arrow-back {
  padding-right: 1em;
}

.light-menu-arrow-back::after {
  transform: rotate(135deg);
}

.light-menu-arrow-link-back + .light-menu-link {
  padding-left: 0;
}


/* Light Submenu */
.light-submenu {
  /* background-color: #cacaca; */
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  box-shadow: 0 -1px 1px rgba(0,0,0,.4);
}

.light-submenu-back {

}

.light-submenu-title {
  font-weight: 600;
}


/* Panel Transitions */
.slideIn-enter {
  z-index: 1;
  transition: all 150ms ease-in;
  transform: translateX(100%);
}

.slideIn-enter.slideIn-enter-active {
  transform: translateX(0%);
}

.slideIn-leave {
  z-index: 1;
  transition: all 150ms ease-in;
  transform: translateX(0%);
}

.slideIn-leave.slideIn-leave-active {
  transform: translateX(100%);
}

/* Custom class Borders */
.light-menu .menu-bb {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.light-menu .menu-bt {
  border-top: 1px solid rgba(0,0,0,.1);
}

/* WordPress admin panel position adjustment */
.admin-bar .lightmenu-container::before,
.admin-bar .lightmenu-container .light-menus {
  /* transform: translateY(46px); */
  margin-top: 46px;
}

@media screen and (min-width: 782px) {
  .admin-bar .lightmenu-container::before,
  .admin-bar .lightmenu-container .light-menus {
    /* transform: translateY(32px); */
    margin-top: 32px;
  }
}
